h1 {
    font-size: var(--heading-1);
}
h2 {
    font-size: var(--heading-2);
}
h3 {
    font-size: var(--heading-3);
}
h4 {
    font-size: var(--heading-4);
}
h5 {
    font-size: var(--heading-5);
}
h6 {
    font-size: var(--heading-6);
}
.subtitle-1 {
    font-size: var(--subtitle-1);
}
.subtitle-2 {
    font-size: var(--subtitle-2);
}
.body-1 {
    font-size: var(--body-1);
}
.body-2 {
    font-size: var(--body-2);
}
.caption {
    font-size: var(--caption);
}
.overline {
    font-size: var(--overline);
}
